{{template "header" .Hd}}

<main>
    <aside></aside>
    <section>
        <section><h1> I am a POC! Have fun! </h1> </section>
    </section>
    <aside></aside>
</main>

{{template "footer" .Fd}}