{{template "header" .Hd}}

<main>
    <aside></aside>
    <section>
        <section class="sectionText"><h3>* We support csv files</h3> </section>
        <form method="POST" enctype="multipart/form-data">
            <section>
                <label for="idx-f">Choose Training File to Upload: </label>
                <input type="file" id="idx-f" accept=".csv" required name="form">
            </section>
            <section>
                <ul>
                    <li> Model Name: <input type="text" required name="model_name" placeholder="model name" autofocus> </li>
                    <li> Retrain Model (if it already exists): <input type="checkbox" name="retrain_model" placeholder="name" autofocus> </li>
                    <li> <input type="submit" value="submit"> </li>
                </ul>
            </section>
        </form>
        <section class="messageBox">
            {{if ne .Message ""}}  
                {{.Message}}
            {{end}}
        </section>
    </section>
    <aside></aside>
</main>

{{template "footer" .Fd}}