main {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;
    height: 100%;
}

main > aside {
    flex: 1 1 auto;
}


main > section {
    flex: 1 1 auto;
    padding: 6em;
}

main > section .sectionText {
   border-bottom: 0.14em solid black;
   margin-bottom: 0.2em;
}

main h1 {
    font-size: 1.2em;
}

main h3 {
    font-size: 0.8em;
}

main ul li {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

main .messageBox {
    height: 4em;

    padding-top: 0.79em;
    margin-top: 3em;
    margin-bottom: 3em;
    border-top: 0.14em solid black;
}
